.content blockquote {
  background: none;
  border-color: $wwu-light-blue-lighter;
  border-style: solid;
  border-width: 1px 0;
  color: $wwu-light-blue;
  font-family: $font-family-serif;
  font-size: 150%;
  line-height: 1.3;
  margin: 2em 0;
  padding: 1em 0;
  position: relative;
}

.content blockquote::before {
  color: $wwu-light-blue-lighter;
  content: '\201c';
  display: inline-block;
  font-family: $font-family-serif;
  font-size: 750%;
  left: -.55em;
  line-height: 1;
  position: absolute;
  top: -.2em;
}
