.field-name-field-file-image-title-text {
  border-bottom: 1px solid $wwu-light-blue-lighter;
  color: $wwu-light-blue;
  font-size: 85%;
  font-style: italic;
  line-height: 1.5;
  padding: .75em;
}

.field-type-image .content {
  line-height: 0;
}
