[role='banner'] {
  background-image: url('../images/header.jpg');
  background-position: top left;
  background-repeat: no-repeat;
}

.site-name a {
  color: $wwu-blue;
}

.site-slogan {
  color: $wwu-blue;
}

.site-name,
.site-slogan {
  background-color: $lighter-gray;

  @include breakpoint($desktop) {
    background-color: $transparent-white;
  }
}

