.site-header {
  @include breakpoint($desktop) {
    height: 260px;
  }
}

.site-name,
.site-slogan {
  @include zen-clear(both);
  padding: 1.2em;
  position: relative;
  width: 100%;

  @include breakpoint($desktop) {
    padding-left: 260px;
    z-index: -1;
  }
}

.western-header {

  .western-quick-links ul li {
    @include breakpoint($desktop) {
      line-height: 4.2em;
    }
  }

  nav {
    @include breakpoint($desktop) {
      margin-right: 20px;
    }
  }
}
