.main-nav {

  .region-navigation {
    @include breakpoint($desktop) {
      border-color: white;
      border-style: solid;
    }
  }

  .menu .active {
    background-color: $wwu-light-blue;

    &:hover {
      background-color: $light-gray;
    }
  }
}
