.main-nav {
  @include breakpoint($desktop) {
    bottom: 0;
    position: absolute;
  }

  .region-navigation {
    @include breakpoint($desktop) {
      border-width: 7px;
      margin: 0 auto;
      width: 80%;

      .menu li {
        border-width: 0 6px 0 0;
      }
    }
  }

  .menu a {
    padding-bottom: .5em;
    padding-top: .5em;
  }
}
