.wwu-img-caption-figcaption {
  border-bottom: 1px $wwu-light-blue-lighter solid;
  color: $wwu-light-blue;
  padding-bottom: 5px;
}

.wwu-img-caption-figure {
  background-color: inherit;
  box-shadow: none;
  display: block;
  margin: 0;
  padding: 0;
}
