// Height needed to place the menu below the mobile buttons.
$western-logo-mobile-height: 82px;

// Height of the western logo.
$western-logo-desktop-height: 135px;

.western-header .western-logo a {
  background-size: auto;
  height: $western-logo-mobile-height;
  margin-bottom: 0;

  @include breakpoint($desktop) {
    height: $western-logo-desktop-height;
  }
}

.site-header {
  float: none;
  line-height: normal;

}

.site-name {
  bottom: initial;
  box-sizing: border-box;
  font-size: initial;
  line-height: normal;
  max-width: initial;
  min-height: initial;
  min-width: initial;
  padding: 0;
  position: static;
  right: initial;
  text-align: initial;
  text-transform: initial;
  z-index: initial;
}

.site-slogan {
  box-sizing: border-box;
}

.main-nav {
  float: none;
  padding: 0;

  div div .menu li {
    padding: 0;
    text-transform: initial;
  }
}

main {
  background-image: none;
  margin-top: 0;
  padding: 0;

  .page-title {
    border: 0;
  }
}

.page-title {
  margin: 0;
}

h1 {
  margin-left: 0;
}

.content {

  blockquote {
    max-width: initial;
    min-width: initial;
  }
}
